* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Monserrat', sans-serif;
}

.nav {
    background-image: url(Domestika/img/Printed\ Circuit\ Board_RON_02.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 90px;
    top: 0;
    position: relative;
    min-width: 650px;
}

.nav-bar {
    list-style-type: none;
    position: absolute;
    width: auto;
    height: 50%;
    top: 40%;
    right: 2%;
}

.nav-bar li {
    font-family: 'Monserrat', sans-serif;
    display: inline;
    padding: 20px;
    background-color: white;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #C3857B;
    text-decoration-thickness: 3px;
}

i:hover {
    border-bottom: 3px solid #C3857B;
    padding-bottom: 2px;
    color:#C3857B;
}

.nav-bar a li:hover {
    color:#C3857B;
}

a:active {
    text-decoration: underline;
    text-decoration-color: #C3857B;
    text-decoration-thickness: 3px;
}

.logo img {
    width: auto;
    height: 90%;
    position: absolute;
    top: 2.5px;
    left: 10px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 15px;
    max-width: 100%;
}

/* Pie de la Pagina */

.pie {
    background-color: whitesmoke;
    position: relative;
    bottom: 0;
    height: 300px;
}

footer {
    background-color: whitesmoke;
    position: relative;
    bottom: 0;
    height: 300px;
}

span {
    position: absolute;
    bottom: 5px;
    right: 50px;
    background-color: #C3857B;
    padding: 1% 1%;
}