* {
    background-color: #1dac97;
}

.caja1 {
    background-color: #3a5062;
    width: 95%;
    height: 80px;
    margin: 10px auto;
}

.caja2 {
    background-color:#3a5062;
    width: 95%;
    height: 320px;
    margin: auto;
}

.caja3-4 {
    width: 95%;
    height: 320px;
    margin: 10px auto;
}

.caja3 {
    background-color: #3a5062;
    width: 49%;
    height: 320px;
    float: left;
}

.caja4 {
    background-color: #3a5062;
    width: 49%;
    height: 320px;
    float: right;
}

.caja5 {
    background-color:#3a5062;
    width: 95%;
    height: 320px;
    margin: auto;
}

.caja6-7 {
    width: 95%;
    height: 320px;
    margin: 10px auto;
}

.caja6 {
    background-color: #3a5062;
    width: 49%;
    height: 320px;
    float: left;
}

.caja7 {
    background-color: #3a5062;
    width: 49%;
    height: 320px;
    float: right;
}